# Python
__pycache__/
*.py[codz]
*.egg-info/
build/
dist/
*.egg

# Environments
.env
.venv
venv/

# MLflow
*.db
mlruns/

# Node (test-set-viewer)
node_modules/

# IDE
.vscode/
.idea/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Type checking
.mypy_cache/
.ruff_cache/

# Logs
*.log

# Data folder
data/
